<h1 align="center"><%= "Grade: " + @grade.grade_name %></h1>
<div align="center">
    <div class="row">
      <span class="badge"><%= link_to "Edit Grade Name", edit_grade_path(@grade) %></span>
    </div>
</div>

<p><strong>subjects</strong></p>
<% @grade.subjects.each do |subject| %>
	<%= link_to "#{subject.subject_name}", subject_path(subject) %> </br>
<% end %>

</br>

<p><strong>Students</strong></p>
<% @grade.students.each do |student| %>
  <%=link_to "#{student.full_name}", student_path(student) %> </br>
<% end %>

</br>
<%= link_to 'edit', edit_grade_path(@grade) %>
<%= link_to 'back', root_path %>
