<p id="notice"><%= notice %></p>

<p>
  <strong>Mark:</strong>
  <%= @mark.mark %>
</p>

<p>
  <strong>User:</strong>
  <%= @mark.user_id %>
</p>

<p>
  <strong>Student:</strong>
  <%= @mark.student_id %>
</p>

<p>
  <strong>Subject:</strong>
  <%= @mark.subject_id %>
</p>

<%= link_to 'Edit', edit_mark_path(@mark) %> |
<%= link_to 'Back', marks_path %>
