<%= render 'shared/errors', object: @student %>

  <div class="row">
    <div class="col-xs-12">
      <%= form_for(@student, :html => {class: "form-horizontal", role: "form"}) do |f| %>
        <div class="form-group">
          <div class="control-label col-sm-2">
            <%= f.label :f_name %>
          </div>
          <div class="col-sm-8">
            <%= f.text_field :f_name, class: "form-control", placeholder: "First Name", autofocus: true %>
          </div>
        </div>
        <div class="form-group">
          <div class="control-label col-sm-2">
            <%= f.label :l_name %>
          </div>
          <div class="col-sm-8">
            <%= f.text_field :l_name, class: "form-control", placeholder: "Last Name", autofocus: true%>
          </div>
        </div>
        <div class="form-group">
          <div class="control-label col-sm-2">
            <%= f.label :phone %>
          </div>
          <div class="col-sm-8">
            <%= f.text_field :phone, class: "form-control", placeholder: "phone number", autofocus: true%>
          </div>
        </div>
        <div class="form-group">
          <div class="control-label col-sm-2">
            <%= f.label :dob %>
          </div>
          <div class="col-sm-8">
            <%= f.text_field :dob, class: "form-control", placeholder: "Date of Birth", autofocus: true%>
          </div>
        </div>
        <div class="form-group">
          <div class="control-label col-sm-2">
            <%= f.label :gender %>
          </div>
          <div class="col-sm-8">
           <%= f.select :gender, Student::GENDER, {prompt: 'Select gender'},{class: 'form-control'}%>
          </div>
        </div>
        <div class="form-group">
          <div class="control-label col-sm-2">
            <%= f.label :nationality %>
          </div>
          <div class="col-sm-8">
            <%= f.country_select :nationality, ["SA", "GB", "IE", "US"], { include_blank: true }, { :class => "form-control" } %>
          </div>
        </div>
        <div class="form-group">
          <div class="control-label col-sm-2">
            <%= f.label :city %>
          </div>
          <div class="col-sm-8">
            <%= f.text_field :city, class: "form-control", placeholder: "City", autofocus: true%>
          </div>
        </div>
        <div class="form-group">
          <div class="control-label col-sm-2">
            <%= f.label :address %>
          </div>
          <div class="col-sm-8">
            <%= f.text_field :address, class: "form-control", placeholder: "Address", autofocus: true%>
          </div>
        </div>
        <div class="form-group">
          <div class="control-label col-sm-2">
            <%= f.label :post_code %>
          </div>
          <div class="col-sm-8">
            <%= f.text_field :post_code, class: "form-control", placeholder: "Post Code", autofocus: true%>
          </div>
        </div>
        <div class="form-group">
          <div class="control-label col-sm-2">
            <%= f.label :email %>
          </div>
          <div class="col-sm-8">
            <%= f.text_field :email, class: "form-control", placeholder: "Email", autofocus: true%>
          </div>
        </div>
        <div class="form-group">
          <div class="control-label col-sm-2">
            <%= f.label :username %>
          </div>
          <div class="col-sm-8">
            <%= f.text_field :username, class: "form-control", placeholder: "Username", autofocus: true%>
          </div>
        </div>
        <div class="form-group">
          <div class="control-label col-sm-2">
            <%= f.label :password %>
          </div>
          <div class="col-sm-8">
            <%= f.password_field :password, class: "form-control", placeholder: "Password", autofocus: true%>
          </div>
        </div>
        <div class="form-group">
          <div class="control-label col-sm-2">
            <%= f.label :password_confirm %>
          </div>
          <div class="col-sm-8">
            <%= f.password_field :password_confirmation, class: "form-control", placeholder: "Password Confirmation", autofocus: true%>
          </div>
        </div>
        <div class="form-group">
            <%= f.label :grade_id, class: 'col-sm-2 control-label' %>
            <div class="col-sm-8">
              <%= f.collection_select :grade_id, Grade.all, :id, :grade_name, {include_blank: true}, {class: 'grade-select form-control'} %>
            </div>
          </div>
          <!--<div class="form-group">
              <%= f.label :subject_id, class: 'col-sm-2 control-label label-select' %>
              <div class="col-sm-8">
                <%= f.grouped_collection_select :subject_ids, Grade.all, :subjects, :grade_name, :id, :subject_name, {:multiple => 'true'}, {:class => 'subject-select form-control'}%><br />
              </div>
          </div>-->
          <div class="form-group">
            <%= f.label :parent_id, class: 'col-sm-2 control-label' %>
            <div class="col-sm-8">
              <%= f.collection_select :parent_id, Parent.all, :id, :full_name, {include_blank: 'select a parent'}, {class: 'form-control'} %>
            </div>
          </div>
        <div class="form-group">
          <div class="col-sm-offset-2 col-sm-8">
            <%= f.submit(@student.new_record? ? "sign up" : "update account", class: 'btn btn-primary btn-lg btn-block')%>
          </div>
        </div>
        <div class="form-group">
          <div class="col-sm-offset-2 col-sm-8">
            <%= link_to 'Home Page', root_path, class: 'btn btn-primary btn-lg btn-block' %>
          </div>
        </div>
        <% end %>
    </div>
  </div>
