<%= render 'shared/errors', object: @user %>

<div class="row">
    <div class="col-xs-12">
        <%= form_for(@user, :html => {class: "form-horizontal", role: "form"}) do |f| %>

        <div class= "form-group">
            <div class="control-label col-sm-2">
                <%= f.label :first_name %>
            </div>
            <div class="col-sm-8">
              <%= f.text_field :f_name, class: "form-control", placeholder: "First Name", autofocus: true %>
            </div>
        </div>
        <div class="form-group">
          <div class="control-label col-sm-2">
            <%= f.label :last_name %>
          </div>
          <div class="col-sm-8">
            <%= f.text_field :l_name, class: "form-control", placeholder: "Last Name", autofocus: true%>
          </div>
        </div>
        <div class="form-group">
          <div class="control-label col-sm-2">
            <%= f.label :email %>
          </div>
          <div class="col-sm-8">
            <%= f.text_field :email, class: "form-control", placeholder: "Email", autofocus: true%>
          </div>
        </div>
        <div class="form-group">
          <div class="control-label col-sm-2">
            <%= f.label :date_of_birth %>
          </div>
          <div class="col-sm-8">
            <!-- <%= f.text_field :dob, class: "form-control", placeholder: "Date of Birth", autofocus: true%> -->
            <!-- <%= f.date_field :dob, class: "form-control col-4 no-spinners", placeholder: "Date of Birth", autofocus: true %> -->
            <%= f.text_field :dob, hide_label: true, class: 'datepicker form-control', placeholder: "Date of Birth", autofocus: true %>
          </div>
        </div>
        <div class="form-group">
          <div class="control-label col-sm-2">
            <%= f.label :gender %>
          </div>
          <div class="col-sm-8">
            <%= f.select :gender, User::GENDER, {prompt: 'Select gender'},{class: 'form-control'}%>
          </div>
        </div>
        <div class="form-group">
          <div class="control-label col-sm-2">
            <%= f.label :nationality %>
          </div>
          <div class="col-sm-8">
            <%= f.country_select :nationality, [ "SA" ], {prompt: 'Selct a country'}, { :class => "form-control" }  %>
          </div>
        </div>
        <div class="form-group">
          <div class="control-label col-sm-2">
            <%= f.label :national_id %>
          </div>
          <div class="col-sm-8">
            <%= f.text_field :national_id, class: "form-control", placeholder: "National id", autofocus: true%>
          </div>
        </div>
        <div class="form-group">
          <div class="control-label col-sm-2">
            <%= f.label :password %>
          </div>
          <div class="col-sm-8">
            <%= f.password_field :password, class: "form-control", placeholder: "Password", autofocus: true%>
          </div>
        </div>
        <div class="form-group">
          <div class="control-label col-sm-2">
            <%= f.label :password_confirm %>
          </div>
          <div class="col-sm-8">
            <%= f.password_field :password_confirmation, class: "form-control", placeholder: "Password Confirmation", autofocus: true%>
          </div>
        </div>
        <div class="form-group">
          <div class="control-label col-sm-2">
            <%= f.label :role_id %>
          </div>
            <div class="col-sm-8 ">
              <%= f.collection_select :role_id, Role.all, :id, :role_name, {prompt: 'Select a role'},{class: 'form-control'} %>
            </div>
        </div>
        <br />
        <div class="form-group">
          <div class="col-sm-offset-2 col-sm-8">
            <%= f.submit(@user.new_record? ? "sign up" : "update account", class: 'btn btn-primary btn-lg btn-block')%>
          </div>
        </div>
        <div class="form-group">
          <div class="col-sm-offset-2 col-sm-8">
            <%= link_to 'Home Page', root_path, class: "btn btn-primary btn-lg btn-block" %>
          </div>
        </div>
        <% end %>
    </div>
</div>
