<h1 align = "center" class = "attendance">Courses</h1>
<table class = "table table-hover">
  <thead>
    <tr>
      <th data-field="#" data-sortable="true">ID</th>
      <th data-field="#" data-sortable="true">|</th>
      <th data-field="#" data-sortable="true">Course Name</th>
      <th data-field="#" data-sortable="true">Start date</th>
      <th data-field="#" data-sortable="true">End date</th>
      <th data-field="#" data-sortable="true">current course</th>
      <th data-field="#" data-sortable="true">|</th>
      <th data-field="#" data-sortable="true">Show</th>
      <th data-field="#" data-sortable="true">Edit</ht>
      <th data-field="#" data-sortable="true">Delete<th>
    </tr>
  </thead>

  <tbody>
    <% @courses.each do |course| %>
      <tr data-link="<%= courses_path(course) %>">
        <td><%= course.id%></td>
        <td>|</td>
        <td><%= course.course_name %></td>
        <td><%= course.start_date %></td>
        <td><%= course.end_date %></td>
        <td><%= course.current_course %></td>
        <td>|</td>
        <td><%= link_to 'Show', course, class: "btn btn-primary btn-xs glyphicon glyphicon-file" %></td>
        <td><%= link_to 'Edit', edit_course_path(course), class: "btn btn-primary btn-xs glyphicon glyphicon-pencil" %></td>
        <td><%= link_to 'Destroy', course, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-xs btn-primary glyphicon glyphicon-trash" %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to 'New attendance', new_course_path %>
