<p id="notice"><%= notice %></p>

<p>
  <strong>Course name:</strong>
  <%= @course.course_name %>
</p>

<p>
  <strong>Start date:</strong>
  <%= @course.start_date %>
</p>

<p>
  <strong>End date:</strong>
  <%= @course.end_date %>
</p>

<p>
  <strong>Current course:</strong>
  <%= @course.current_course %>
</p>

<%= link_to 'Edit', edit_course_path(@course) %> |
<%= link_to 'Back', courses_path %>
