<p id="notice"><%= notice %></p>

<p>
  <strong>Student:</strong>
  <%= @student_attendance.student.full_name %>
</p>

<p>
  <strong>Status:</strong>
  <%= @student_attendance.attendance_description.att_status %>
</p>

<p>
  <strong>Date:</strong>
  <%= @student_attendance.date %>
</p>

<%= link_to 'Edit', edit_student_attendance_path(@student_attendance) %> |
<%= link_to 'Back', student_attendances_path %>
